.app-header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #0F3460;
    height: 90px;
}

.app-title {
    padding: 5px;
    font-size: 44px;
    color: white;
    font-family: Comfortaa;
    font-weight: 400;
}
