.sidebar {
    height: 100%;
    width: 200px;
    background-color: blue;
    position: absolute;
    z-index: 2;
    transition: 0.3s ease-out;
    margin-right: 50px;
}

.sidebar.collapsed {
    width: 0px;
    overflow: hidden;
}